<ion-view class="main-page" title="Main">
  <ion-content class="padding">
    <h5>Hello, <span ng-bind="main.profile.full_name"></span></h5>
    <button class="button button-small button-stable" ng-click="main.logout()">Logout</button>
  </ion-content>
</ion-view>
