<ion-view class="login-page" title="Login">
  <ion-content class="padding">
    <button class="button button-block button-positive login-button login-vk" ng-click="login.vk()">Login with vk</button>
    <button class="button button-block button-positive login-button login-mailru" ng-click="login.mailru()">Login with mailru</button>
  </ion-content>
</ion-view>
